{% extends "accounts/accounts_base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="loginbox">
    <h1 class="heading">Password reset email has been sent.</h1>
    <br/><br/>
    <div class="username">
        <h3>An email has been sent with instructions for resetting your password.</h3>
        <br/>
        <h3>If you don’t receive the email:</h3>
        <br/>
        <ul>
            <li>Please make sure you’ve entered the email address registered with your account</li>
            <li>Check your spam folder.</li>
        </ul>
    </div>
</div>
{% endblock %}