{% extends "accounts/accounts_base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="loginbox">
    <h1 class="heading">Create a new password</h1>
    <br/><br/>
    <div class="username">
        <form method="post">
            {% csrf_token %}
            <h3>{{ form.new_password1.label }}</h3>
            {{ form.new_password1 }}
            {{ form.new_password1.help_text }}
            <br/><br/>

            <h3>{{ form.new_password2.label }}</h3>
            {{ form.new_password2 }}

            <div class="form_button">
                <input type="Submit" name="Update Password">
            </div>
        </form>
    </div>
</div>
{% endblock %}