{% extends "accounts/accounts_base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="loginbox">
    <h1 class="heading">Password Reset</h1>
    <br/><br/>
    <div class="username">
        <h3>Forgotten your password?</h3>
        <h4>Enter your email address below,
            and we’ll email instructions for setting a new one.</h4>
        <br/>

        <form method="post">
            {% csrf_token %}
            <h3>{{ form.email.label }}</h3>
            {{ form.email }}

            <input type="Submit" name="Send email">
        </form>
    </div>
</div>
{% endblock %}