<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<body>
<h1 class="text-center"><strong>Hello {{ user }}.</strong></h1>
<br/>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<ul>
    {% if not user.is_authenticated %}
    <li><a href="{% url 'accounts:login' %}">Sign In!</a></li>
    <li><a href="{% url 'accounts:register' %}">Sign Up!</a></li>
    {% elif user.is_authenticated %}
    <li><a href="{% url 'accounts:user_info' %}">User Info</a></li>
    <li><a href="{% url 'accounts:logout' %}">Log Out!</a></li>
    {% endif %}
</ul>
<br/>
</body>
</html>