{% extends "accounts/accounts_base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="loginbox">
    <h1 class="heading">Log In</h1>
    <br/><br/>
    <div class="username">
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            <h3>{{ form.username.label }}</h3>
            <div class="form_errors">{{ form.username.errors.as_text|escape }}</div>
            {{ form.username }}
            <br/><br/>

            <h3>{{ form.password.label }}</h3>
            <div class="form_errors">{{ form.password.errors.as_text|escape }}</div>
            {{ form.password }}
            <br/>

            <div class="form_button">
                <input type="submit" value="Log In">
            </div>
        </form>
    </div>
    <a href="{% url 'reset_password' %}">Forgot your password?</a><br/><br/>
    Not registered? <a href="{% url 'accounts:register' %}">Sign up!</a>
</div>
{% endblock %}