{% extends "accounts/accounts_base.html" %}
{% block title %}User Login{% endblock %}
{% block content %}
<h3>User Login</h3>
<form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    <br/>
    {{ form.username.label }}
    {{ form.username }}
    {{ form.username.errors.as_text|escape }}

    <br/>
    <br/>
    {{ form.password.label }}
    {{ form.password }}
    {{ form.password.errors.as_text|escape }}
    <p><input type="submit" value="Log In"></p>
</form>
<br/>
<p><a href="{% url 'reset_password' %}">Forgot your password?</a></p>
<p>Not registered? <a href="{% url 'accounts:register' %}">Sign up!</a></p>
{% endblock %}