{% extends "accounts/accounts_base.html" %}
{% block title %}User Login{% endblock %}
{% block content %}
<div class="loginbox">
    <h1 class="heading">User Login</h1>
    <br/><br/>
    <div class="username">
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            <h3>{{ form.username.label }}</h3>
            {{ form.username.errors.as_text|escape }}
            {{ form.username }}
            <br/><br/>

            <h3>{{ form.password.label }}</h3>
            {{ form.password.errors.as_text|escape }}
            {{ form.password }}
            <br/>

            <input type="submit" value="Log In">
        </form>
    </div>
    <br/>
    <br/>
    <a href="{% url 'reset_password' %}">Forgot your password?</a><br/><br/>
    Not registered? <a href="{% url 'accounts:register' %}">Sign up!</a>
</div>
{% endblock %}