{% extends "accounts/accounts_base.html" %}
{% block title %}User Registration{% endblock %}
{% block content %}
<h3>User Registration</h3>
<form action="{% url 'accounts:register' %}" method="POST">
    {% csrf_token %}
    <br/>
    {{ form.username.label }}
    {{ form.username }}
    {{ form.username.errors.as_text|escape }}
    <br/>
    <i>{{ form.username.help_text }}</i>

    <br/>
    <br/>
    {{ form.email.label }}
    {{ form.email }}
    {{ form.email.errors.as_text|escape }}
    <br/>
    <i>{{ form.email.help_text }}</i>

    <br/>
    <br/>
    {{ form.first_name.label }}
    {{ form.first_name }}
    {{ form.first_name.errors.as_text|escape }}

    <br/>
    <br/>
    {{ form.last_name.label }}
    {{ form.last_name }}
    {{ form.last_name.errors.as_text|escape }}

    <br/>
    <br/>
    {{ form.password1.label }}
    {{ form.password1 }}
    {{ form.password1.errors.as_text|escape }}
    <br/>
    <i>{{ form.email.help_text }}</i>

    <br/>
    <br/>
    {{ form.password2.label }}
    {{ form.password2 }}
    {{ form.password2.errors.as_text|escape }}
    <br/>
    <i>{{ form.email.help_text }}</i>
    <p><input type="submit" value="Sign Up"></p>
    <br/>
</form>
<p>Already registered? <a href="{% url 'accounts:login' %}">Log In!</a></p>
{% endblock %}