{% extends "accounts/accounts_base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="loginbox">
    <h1 class="heading">Sign Up</h1>
    <br/><br/>
    <div class="username">
        <form action="{% url 'accounts:register' %}" method="POST">
            {% csrf_token %}
            <h3>{{ form.username.label }}</h3>
            <div class="form_errors">{{ form.username.errors.as_text|escape }}</div>
            {{ form.username }}
            <h5><i>{{ form.username.help_text }}</i></h5>
            <br/>

            <h3>{{ form.email.label }}</h3>
            <div class="form_errors">{{ form.email.errors.as_text|escape }}</div>
            {{ form.email }}
            <h5><i>{{ form.email.help_text }}</i></h5>
            <br/>

            <h3>{{ form.first_name.label }}</h3>
            <div class="form_errors">{{ form.first_name.errors.as_text|escape }}</div>
            {{ form.first_name }}
            <br/><br/>

            <h3>{{ form.last_name.label }}</h3>
            {{ form.last_name.errors.as_text|escape }}
            {{ form.last_name }}
            <br/><br/>

            <h3>{{ form.password1.label }}</h3>
            <div class="form_errors">{{ form.password1.errors.as_text|escape }}</div>
            {{ form.password1 }}
            <br/><br/>

            <h3>{{ form.password2.label }}</h3>
            <div class="form_errors">{{ form.password2.errors.as_text|escape }}</div>
            {{ form.password2 }}

            <div class="form_button">
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
    <p>Already registered? <a href="{% url 'accounts:login' %}">Log In!</a></p>
</div>
{% endblock %}