{% extends "accounts/accounts_base.html" %}
{% block title %}User Registration{% endblock %}
{% block content %}
<div class="loginbox">
    <h1 class="heading">User Registration</h1>
    <br/><br/>
    <div class="username">
        <form action="{% url 'accounts:register' %}" method="POST">
            {% csrf_token %}
            <h3>{{ form.username.label }}</h3>
            {{ form.username.errors.as_text|escape }}
            {{ form.username }}
            <h5><i>{{ form.username.help_text }}</i></h5>
            <br/>

            <h3>{{ form.email.label }}</h3>
            {{ form.email.errors.as_text|escape }}
            {{ form.email }}
            <h5><i>{{ form.email.help_text }}</i></h5>
            <br/>

            <h3>{{ form.first_name.label }}</h3>
            {{ form.first_name.errors.as_text|escape }}
            {{ form.first_name }}
            <br/><br/>

            <h3>{{ form.last_name.label }}</h3>
            {{ form.last_name.errors.as_text|escape }}
            {{ form.last_name }}
            <br/><br/>

            <h3>{{ form.password1.label }}</h3>
            {{ form.password1.errors.as_text|escape }}
            {{ form.password1 }}
            <br/><br/>

            <h3>{{ form.password2.label }}</h3>
            {{ form.password2.errors.as_text|escape }}
            {{ form.password2 }}

            <p><input type="submit" value="Sign Up"></p>
        </form>
    </div>
    <br/>
    <p>Already registered? <a href="{% url 'accounts:login' %}">Log In!</a></p>
</div>
{% endblock %}