{% extends "accounts/accounts_base.html" %}
{% block title %}User Info{% endblock %}
{% block content %}
<div class="loginbox">
    <h1 class="heading">{{ user|title }}'s Info:</h1>
    <br/><br/>
    <div class="username">
        <form action="{% url 'accounts:user_info' %}" method="POST">
            {% csrf_token %}
            <h3>{{ form.username.label }}</h3>
            {{ form.username }}
            <div class="form_errors">{{ form.username.errors.as_text|escape }}</div>
            <br/>
            <h5><i>{{ form.username.help_text }}</i></h5>
            <br/>

            <h3>{{ form.email.label }}</h3>
            {{ form.email }}
            <div class="form_errors">{{ form.email.errors.as_text|escape }}</div>
            <br/><br/>

            <h3>{{ form.first_name.label }}</h3>
            {{ form.first_name }}
            <div class="form_errors">{{ form.first_name.errors.as_text|escape }}</div>
            <br/><br/>

            <h3>{{ form.last_name.label }}</h3>
            {{ form.last_name }}
            <div class="form_errors">{{ form.last_name.errors.as_text|escape }}</div>

            <div class="form_button">
                <input type="submit" value="Update">
            </div>
        </form>
    </div>
</div>
{% endblock %}