{% extends "accounts/accounts_base.html" %}
{% block title %}User Details{% endblock %}
{% block content %}
<h3>{{ user|title }}'s Info:</h3>
<form action="{% url 'accounts:user_info' %}" method="POST">
    {% csrf_token %}
    <br/>
    {{ form.username.label }}
    {{ form.username }}
    {{ form.username.errors.as_text|escape }}
    <br/>
    <i>{{ form.username.help_text }}</i>

    <br/>
    <br/>
    {{ form.email.label }}
    {{ form.email }}
    {{ form.email.errors.as_text|escape }}
    <br/>
    <i>{{ form.email.help_text }}</i>

    <br/>
    <br/>
    {{ form.first_name.label }}
    {{ form.first_name }}
    {{ form.first_name.errors.as_text|escape }}

    <br/>
    <br/>
    {{ form.last_name.label }}
    {{ form.last_name }}
    {{ form.last_name.errors.as_text|escape }}
    <p><input type="submit" value="Update"></p>
    <br/>
</form>
{% endblock %}