{% extends "accounts/accounts_base.html" %}
{% block title %}About Us{% endblock %}
{% load static %}
{% block like_css %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock like_css %}
{% block content %}
<div class="layer2" id="layer2">
    <div class="info">
        <div class="aboutus">
            <h2>About Us</h2>
            <p>We are a comparison website. Our website is guaranteed to give you the best price comparison, detailed
                descriptions and accurate reviews on top purchased items on Amazon and Ebay.</p>
            <p>Weekly we feature the top 10 most searched items on Amazon and Ebay.</p>
        </div>

        <div class="aboutus">
            <h2>How It Works</h2>
            <p>Login or sign up to save your product searches.
            <p>Browse through departments or use the search bar to find the item you are looking for.</p>
            <p>CompareX will then show you the prices of each item from Amazon and Ebay with ratings and links to the
                product of your choice product included.</p>
        </div>
    </div>
</div>

<section>
    <h2>FAQ</h2>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question1">
                <a class="accordian-link" href="#question1">
                    <i class="fas fa-chevron-right"></i>
                    Do I need an account to browse through items?
                </a>
                <div class="answer">
                    <p style="padding: 2%;"> You don't need an account to look through items. However, to save searches
                        you will need an account. </p>
                </div>
            </div>

            <div class="accordian-item" id="question2">
                <a class="accordian-link" href="#question2">
                    <i class="fas fa-chevron-right"></i>
                    Do I make purchases on this website?
                </a>
                <div class="answer">
                    <p style="padding: 2%;"> No purchases are made on this website. Links to specfic retailers on the
                        product page.</p>
                </div>
            </div>

            <div class="accordian-item" id="question3">
                <a class="accordian-link" href="#question3">
                    <i class="fas fa-chevron-right"></i>
                    The item I'm looking for isn't on here.
                </a>
                <div class="answer">
                    <p style="padding: 2%;">No worries! We update products daily. Check back the next day or write to us
                        and leave a product suggestion. </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}}