{% extends "accounts/accounts_base.html" %}
{% block title %}Contact Us{% endblock %}
{% load static %}
{% block like_css %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock like_css %}
{% block content %}
<div class="layer2" id="layer2">
    <div class="info">
        <div class="aboutus">
            <h2>Contact Us</h2>
            <p>Anything we can help with or you just want to say how much you’re enjoying using CompareX? Send us a
                message! We are glad to help make your experience the best!</p>
            <br/>
            <br/>

            <div class="username">
                <form action="{% url 'contact_us' %}" method="POST">
                    {% csrf_token %}
                    <h3>Your {{ form.email.label }}</h3>
                    {{ form.email.errors.as_text|escape }}
                    {{ form.email }}
                    <br/><br/>

                    <h3>{{ form.message.label }}</h3>
                    {{ form.message.errors.as_text|escape }}
                    {{ form.message }}

                    <input type="submit" value="Send Message">
                </form>
            </div>
        </div>

        <div class="aboutus">
            <h2>Other ways to Contact Us</h2>
            <p>12345 Price Check Lane <br>
                Orlando, Florida 54321<br>
                United States</p>
            <br/>
            <p>compareX@gmail.com</p>
            <br/>
            <p>1-888-234-5678</p>
        </div>
    </div>
</div>
{% endblock %}}