{% extends "accounts/accounts_base.html" %}
{% block title %}Edit a Product{% endblock %}
{% load static %}
{% block like_css %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock like_css %}
{% block content %}
<section>
    <h1 align="center">Product List:</h1>
    <br/>
    <br/>
    <h3 align="center"><a href="{% url 'products:update_all_products' %}">Update All</a></h3>
    <br/>
    <br/>
    <div class="product_row">
        <div class="dmk">
            {% for product in product_list %}
            <div class="product_column">
                <a href="{% url 'products:product' product.id %}">
                    <div class="image">
                        <img src="{{ product.image.url }}" alt={{ product.name }} title={{ product.name }}/>
                    </div>
                </a>
                <div class="link">
                    <h4><a href="{% url 'products:product' product.id %}">
                        Product ID:{{ product.pk }} - {{ product.name|truncatechars:90 }}</a></h4>
                    <a href="{% url 'products:update_product' product.id %}">Update</a>
                    &nbsp&nbsp||&nbsp&nbsp
                    <a href="{% url 'products:delete_product' product.id %}">Delete</a>
                </div>
            </div>
            {% empty %}
            <h1 align="center">No products found.</h1>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}


{% comment %}
<h3>Product List:</h3>
{% for product in product_list %}
<p>
    <a href="{% url 'products:update_product' product.id %}">Update</a>
    &nbsp&nbsp||&nbsp&nbsp
    <a href="{% url 'products:delete_product' product.id %}">Delete</a>
    &nbsp&nbsp||&nbsp&nbsp
    <a href="{% url 'products:product' product.id %}">
        <img src="{{ product.image_url }}" width="200" height="200" alt={{ product.name }} title="{{ product.name }}"/></a>
    &nbsp&nbsp
    <a href="{% url 'products:product' product.id %}">Product ID:{{ product.pk }} - {{ product.name }}</a>
</p>
{% empty %}
<p>No products found.</p>
{% endfor %}
{% endblock %}
{% endcomment %}