{% extends "accounts/accounts_base.html" %}
{% block title %}Liked Products List{% endblock %}
{% load static %}
{% block like_css %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
<link rel="stylesheet" href="{% static 'css/product_modal.css' %}">
{% endblock like_css %}
{% block content %}
<section>
    <h1>{{ user|title }}'s Liked Products:</h1>
    <div class="product_row">
        {% for item in liked_product_list %}
        <div class="product_column">
            <a href="{% url 'products:product' item.product.id %}">
                <div class="image">
                    <img src="{% if "/static/images/products/image_not_found.png" in item.product.image_url %}{{ item.product.image_url }}
                    {% else %}{{ item.product.image.url }}{% endif %}" alt="{{ item.product.name|truncatechars:20 }}" title="{{ item.product.name }}"/>
                </div>
            </a>
            <div class="link">
                <h4><a href="{% url 'products:product' item.product.id %}">{{ item.product.name|truncatechars:80 }}</a></h4>
                <br/><br/>
                <a href="{% url 'products:modal' item.product.id %}">Click to Compare Prices</a>
            </div>
        </div>
        {% empty %}
        <h1 align="center">No liked products found.</h1>
        {% endfor %}
    </div>
</section>
<script src="{% static 'css/modal.js' %}"></script>
{% endblock %}