{% load static %}
{% block like_css %}
{% endblock like_css %}

{% block content %}
<span class="showModal">Summary</span>
<div class="modal">
    <div class="modal-content">

        <div class="title">
            <span class="close">&times;</span>
            <p><a href="{% url 'products:product' product.id %}">
                {{ product.name}}</a></p>
        </div>
        <div class="main-content">
            <div class="photo">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}"/>
            </div>
            <div class="container">
                <table>
                    <tr>
                        <th colspan="2">Prices:</th>
                    </tr>
                    <tr>
                        <td>Amazon:</td>
                        <td><a href="{{ product.amazon_url }}">${{ product.amazon_price }}</a></td>
                    </tr>
                    <tr>
                        <td>E-bay:</td>
                        <td><a href="{{ product.ebay_url }}">${{ product.ebay_price }}</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><h4>You save ${{ product.savings }} ({{ product.percent }}%) at {{ product.saver }}!</h4></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}