{% extends "accounts/accounts_base.html" %}
{% block title %}Product List{% endblock %}
{% load static %}
{% block like_css %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
<link rel="stylesheet" href="{% static 'css/product_modal.css' %}">
{% endblock like_css %}
{% block content %}
<section>
    <h1>Product List:</h1>
    <div class="product_row">
        {% for product in product_list %}
        <div class="product_column">
            <a href="{% url 'products:product' product.id %}">
                <div class="image">
                    <img src="{% if "/static/images/products/image_not_found.png" in product.image_url %}{{ product.image_url }}
                    {% else %}{{ product.image.url }}{% endif %}" alt="{{ product.name|truncatechars:20 }}" title="{{ product.name }}"/>
                </div>
            </a>
            <div class="link">
                <h4><a href="{% url 'products:product' product.id %}">{{ product.name|truncatechars:80 }}</a></h4>
                <br/><br/>
                <a href="{% url 'products:modal' product.id %}">Click here to Compare Prices</a>
            </div>
        </div>
        {% empty %}
        <h1 align="center">No products found.</h1>
        {% endfor %}
    </div>
</section>
{% endblock %}