{% extends "accounts/accounts_base.html" %}
{% block title %}Details for {{ product.name }}{% endblock %}
{% load static %}
{% block like_css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock like_css %}
{% block content %}

<div class="content">
    <div class="left">
        <a href="{{ product.image.url }}"><img src="{{ product.image.url }}" alt="{{ product.name }}"
                                               title="{{ product.name }}" /></a>
        <p style="text-align: center">(Click to view full-size image)</p>
        <br/>
        <br/>
        <br/>

        {% include 'products/like_button.html' %}
    </div>
    <div class="right">
        <div><h1>{{ product.name|title }}</h1></div>
        <br/>
        <div class="stars">
            {% for x in stars %}
            {% if x == 1 %}
            <i class="fa fa-star fa-2x" style="color: gold;"></i>
            {% elif x == 2 %}
            <i class="fa fa-star-half fa-2x" style="color: gold;"></i>
            {% elif x == 0 %}
            <i class="fa fa-star fa-2x" style="color: lightgrey;"></i>
            {% endif %}
            {% endfor %}
        </div>
        <br/>
        <div>
            <h2>Prices:</h2>
            <table class="cost">
                <tr>
                    <td>Amazon:</td>
                    <td><a href="{{ product.amazon_url }}">${{ product.amazon_price }}</a></td>
                </tr>
                <tr>
                    <td>Ebay:</td>
                    <td><a href="{{ product.ebay_url }}">${{ product.ebay_price }}</a></td>
                </tr>
                <tr>
                    <td colspan="2"><h4>You save ${{ savings.savings }} ({{ savings.percent }}%) at {{ savings.saver }}!</h4></td>
                </tr>
            </table>
        </div>
        <br/>
        <div>
            <h2>About this item:</h2>
            <ul class="info">
                {% for line in list_lines %}
                <li>{{ line }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% include 'comments/comments.html' %}

{% endblock %}}