@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
     margin:0
}
 :root{
     --green:#f7fff7;
     --blue:#02239a;
     --navy-blue: #02239A;
     --yellow:#ffe66d;
     --white:#f1f3f9;
     --black:#180126;
     --grey:#7E7A8F;
     --navtext:#C3C7D2;
     --dmsans:'DM Sans', sans-serif;
     --aqua:#4bb8d8;
     --teal:#2c8daa;
}
 body{
     background-color:var(--green);
     box-sizing:content-box;
     min-height: 0px;
     margin-bottom: 2.5rem;
     clear: both;
}
 .header{
     background-color:var(--blue);
     height:85px;
}
 .header h1{
     color:var(--white);
     font-family:var(--dmsans);
     font-weight: bold;
     font-size: 34px;
     /*margin-left:43%;*/
     width: 100%;
     text-align: center;
     padding-top: 25px;
    /* Changed: 50px */
}
/* All new */
 .header h1 a {
     color:var(--white);
     text-decoration: none;
}
 .header .navlinks {
     color:var(--white);
     list-style-type: none;
     text-decoration:none;
     font-size:20px;
     margin-left:60%;
     padding-top: 25px;
     display:flex;
     justify-content: space-evenly;
}
 .header .navlinks a {
    padding: .4em;
     font-family:var(--dmsans);
     text-decoration:none;
     color:var(--white);
}
 .navlinks li a:hover, .navlinks li a:focus {
/*     background-color:var(--grey);
     border-radius: 25px;
     padding: 1px;
     color:var(--yellow);
     outline-style: none;*/
     /*border: 1px solid var(--yellow);*/
     background-color: var(--yellow);
     cursor: pointer;
     color: var(--navy-blue);
     font-weight: bold;
}
 .submenu {
     display: none;
     position: relative;
     background-color: var(--blue);
     border-radius: 5px;
     font-size: 85%;
     font-weight: bold;
     padding: 5px;
     margin-top:5px;
     list-style-type: none;
     z-index: 10;
}
 .submenu li {
     padding:5px;
}
 .navlinks li:hover > .submenu, .navlinks li:focus-within > .submenu {
     display: block;
     outline-style: none;
}
.messages ul{
    display: table;
    margin: 0 auto;
    font-weight: bold;
}

.messages .error {
    color: red;
}
.messages .success {
    color: green;
}

 .layer1 {
     position: relative;
     z-index: -10;
}
 .triangles {
     display:flex;
     justify-content:center;
     overflow:hidden;
     position: static;
}
 .triangle1 {
     border-style: solid;
     border-width: 30vh 114vh 0 0;
    /* Changed: 30vh 114vh 0 0 */
     border-color: var(--teal) transparent transparent transparent;
}
 .triangle2 {
     border-style: solid;
     border-width: 0 113vh 30vh 0;
    /* Changed: 0 113vh 30vh 0 */
     border-color: transparent var(--aqua) transparent transparent;
     overflow:hidden;
 }

 .loginbox{
     margin: -150px auto 5rem auto;
     padding: 20px 50px;
     width: 400px;
     box-sizing: border-box;
     background: #FAD862;
     box-shadow: -6px 10px 20px 8px rgba(0, 0, 0, 0.25);
}

h1.heading {
    /* Changed: h2 */
     font-family: DM Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 30px;
     line-height: 49px;
     text-align: center;
     color: black;
}

 .username{
    /* Changed: .email */
     margin-left: 0%; /* 20% */
}
 .page_name{
    /* Changed: h1 */
     position: absolute;
     font-family: DM Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 10px;
     color: black;
}
 .username h1,  .username h2,  .username h3,  .username h4,  .username h5{
    /* Changed: .email
     margin-left: 15px;  /* -55px */
     font-family: DM Sans;
     font-style: normal;
     font-weight: normal;
     color: black;
}
 input[type=text], input[type=password], input[type=email], textarea{
    /* Changed: added password */
     padding: 10px;
     font-size: 14px;
     border: none;
     width: 93%;
     margin-left: 0px;  /* -60px */
}

/*textarea {
     padding: 0.8em;
     border: none;
     width: 90%;
     margin-left: 15px;  *//* -60px *//*
}*/

 .password{
     padding-top: 0px;  /* 30px */
}
 .signin{
     text-align: center;
     color: #c4c4c4;
}

 input[type=submit]{
    /* Changed: button[type=button] */
     margin-left: 0px;  /* -60px */
     margin-top: 30px;  /* 30px */
     font-size: 24px;
     border: 0px;
     width: 50%;
     padding: 0.2em;
}

input[type=submit]:hover {
    background-color: darkgray;
    color: var(--white);
}

.form_errors {
    color: red;
    font-weight: bold;
}

/* p{
     display: inline-block;
}
 p span{
     text-decoration: underline;
     cursor: pointer;
}
 */
 footer{
     position: fixed;
     left: 0;
     bottom: 0px;
     width: 100%;
     height: 2.5rem;
     background-color: var(--blue);
     text-align: center;
     overflow:hidden;
     z-index: 10;
}
 footer .icons{
    padding-top: 10px;
}
 footer a{
     padding:1em;
}

.fa-facebook-square:hover, .fa-linkedin:hover, .fa-instagram-square:hover, .fa-twitter-square:hover{
  background-color:var(--white);
  border-color:var(--yellow);
}

 @media only screen and (max-width: 800px) {
/*     .header h1{
         margin-left: 40%;
         padding-top: 30px;
         font-size: 30px;
    }*/
     .header .navlinks{
         margin: 0;
         padding: 0 0 0 0;
         padding-top: 55px;
    }

    .navlinks li a:hover, .navlinks li a:focus {
        padding: .05em;
     }

     .submenu{
        margin: 1px;
     }

     .loginbox{
    }

    input[type=submit]{
        font-size: 18px;
        width: 100%;
    }
/*     footer .icons{
         margin-left: 37%;
    }*/
}
 @media only screen and (max-width: 400px) {
     .header h1{
         font-size: 25px;
         /*margin-left: 35%;*/
    }
     .header .navlinks{
         margin-left: 0%;
         font-size: 15px;
    }
     .loginbox{
         /*padding-left: 30px;*/
        padding:20px 20px;
        width: 300px;
    }
     .loginbox h2{
         width: 280px;
    }
     .username{
        /* Changed: .email */
         margin-left: 0%;
    }
 /*    input[type=text], input[type=email], input[type=password] {
         width: 70%;
         border: none;
    }*/
/*     footer .icons{
         margin-left: 25%;
    }*/
}
