:root{
    --whitefog: #E5E5E5;
    --dark-teal:#02769A;
}

body{
    background-color:var(--whitefog);
}

section{
    font-family: var(--dmsans);
}

.title{
    position: relative;
    z-index: 1;
    /*margin-left: 38rem;*/
    margin-top: -140px;
    align-items: center;
    text-align: center;
    font-size: 22px;
}

.main-content{
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 4%;
    margin-left: 2rem;
    margin-bottom: 4%;
    justify-content: space-evenly;
}

.photo{
    flex-basis: 20%;
}

.photo img{
    height: 340px;
    width: 400px;
    margin-top: 2rem;
    object-fit: contain;
}

.container{
    flex-basis: 65%;
    display: grid;
    height: 300px;
    margin-top:2%;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: .5fr  2.3fr  2.3fr ;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    padding: 10px;
}

.item1{
    font-size: 24px;
    font-weight: 700px;
    line-height: 31px;
}

.item2{
    font-size: 18px;
    font-weight: 700px;
    line-height: 24px;
}

.item3 a{
    font-size: 16px;
    font-weight: 600px;
    color: var(--black) ;
    line-height: 18px;
    text-decoration: none;
}

.item3 :hover {
    border: 2px solid var(--dark-teal);
}

@media only screen and (max-width: 800px) {

    .title{
        position: relative;
        align-items: center;
        /*margin-left: 25%;*/
        /*margin-top:-48%;*/
        font-size: 12px;
    }

    .main-content{
        position: relative;
        flex-direction: column;
        margin-left: 0%;
        margin-bottom: 10%;
    }


    .photo{
        /*justify-content: center;*/
        text-align: center;
/*        padding: .5em;*/
    }

    .photo img{
        flex-basis: 50%;
        margin-top: 0em;
        width: 300px;
    }

    .container{
        flex-basis: 70%;
        display: grid;
        height: 200px;
        margin-top:2%;
        margin-left: 5%;
        margin-right: 5%;
        grid-gap: 10px;
        position: relative;
        padding: 0px;
        justify-content: start;
        align-items: flex-start;
    }

    .item2{
        font-size: 12px;
        font-weight: 700px;
        line-height: 17px;
    }

    .item1{
        font-size: 14px;
        font-weight: 700px;
        line-height: 18px;
    }

    .item3 a{
        font-size: 11px;
        line-height: 18px;
    }

    h2{
        font-size: 2em;
    }
}