:root {
    --icon-size: 16px;
}

section {
    margin: -150px auto 0 auto;
    padding-bottom: 20px;
    font-family: var(--dmsans);
}

section h1{
    font-size: 32px;
    text-align: center;
}

.product_row {
    margin: 60px 0 0 0;
}

.product_row .product_column {
    width: 23%;
    height: 350px;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    float: left;
    text-align: center;
    /*border: 1px solid lightgrey;*/
    margin-bottom: 50px;
}

.image {
    height: 220px;
    vertical-align: middle;
    text-align:center;
    display: table-cell;
}

.image img {
    width: 200px;
    height: 200px;
    border: 1px solid lightgrey;
    object-fit: contain;
}

.fa-refresh {
    color: green;
    font-size: var(--icon-size);
}

.fa-trash {
    color: crimson;
    font-size: var(--icon-size);
}

.link {
    margin: 0px 20px 20px 20px;
    position: relative;
    font-weight: bold;
    font-size: 1.1em;
}
.link h4 {
 height: 60px;
}
.link a {
    text-decoration: none;
    color: #276274;
}
/* Clear floats after the columns */
.product_row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .product_row {
        margin: 60px 0 0 0;
    }
    .product_row .product_column  {
        width:33%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .product_row .product_column  {
        width:50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .product_row .product_column  {
        width: 100%;
        padding: 0 10%;
    }
}