
ul{
    list-style: none;
}
/*.main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}*/
button{
    width: 200px;
    height: 40px;
    display: inline;
}
.content{
    font-family: var(--dmsans);
    margin: -60px auto 200px auto;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
}
.left img{
    width: 400px;
    height: auto;
}
.right{
    padding: 10px 50px;
}
.left {
    margin: 10px 10px;
}

.cost{
    font-size: 20px;
    line-height: 30px;
    margin: 0 10px;
    table-layout: fixed;

}
.info{
    font-style: normal;
    font-weight: bold;
    margin-left: -3%;
/*    font-size: 13px;
    line-height: 17px;*/
    list-style-type: circle;
}
.info li {
    margin: 1% auto;
}
.like_section{
    margin: 0 auto;
    text-align: center;
    font-size:25px;
}

 @media only screen and (max-width: 800px) {
    .content{
        margin-top: -150px;
        flex-direction: column;
    }
    .left{
        margin: 0 auto 10% auto;
    }
    .left img{
        margin: 0% auto;
    }
    .right{
        font-size: 15px;
    }
    .right h1 {
        font-size: 20px;
    }
    .right h2 {
        font-size: 18px;
    }
    .cost {
        font-size: 18px;
    }

 }

 @media only screen and (max-width: 400px) {
    .left img{
        max-width: 300px;
    }
 }