<!DOCTYPE html>
<html>
<body>

<h1>Product Comment</h1>

<div>
  <p>List of Products</p>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <form action="{% url 'comments:comments' product.id %}" method= "POST" id= "submitform">
            {% csrf_token %}
            <input id="comment" name="comment" type="text"/>
            <input type="submit" value="Comment">
          </form>
        </td>
      </tr>
    {% endfor %}
    </table>
</div>



<p>Thank you for using Price Comparison</p>

</body>
</html>