{% for comment in comments_list %}
<div class="comment_header">{{ comment.user|title }}&nbsp;&nbsp;|&nbsp;
    Posted {{ comment.created_on|date:"M d, Y h:i A" }}&nbsp;
    {% if comment.edited %}
    |&nbsp;&nbsp;<i>(edited {{ comment.edited_on|timesince }} ago)</i>
    {% endif %}
    {% if user == comment.user %}
    &nbsp;
    <a href="{% url 'comments:edit_comment' comment.id %}"><i class="fa fa-pencil"></i></a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'comments:delete_comment' comment.id %}"><i class="fa fa-trash"></i></a>
    <br />
    {% endif %}
    {% if "comments/" in request.path %}
    <a href="{% url 'products:product' comment.product.id %}">{{ comment.product.name|truncatechars:50 }}</a>
    <br />
    {% endif %}
</div>
<div class="comment_body">{{ comment.body|linebreaksbr }}</div>
{% empty %}
<div class="comment_header">No comments.</div>
{% endfor %}